<body>
    <label> Login AS</label>

    <nav>
        <a routerLink="/Owner" routerLinkActive="active">Owner</a><br>
        <a routerLink="/Manager" routerLinkActive="active">Manager</a><br>
        <a routerLink="/Receptionist" routerLinkActive="active">Receptionist</a><br>
        <a routerLink="/login" routerLinkActive="active">Userlogin</a>
        <br><br><br>
        
      </nav>
      <img src="https://images.pexels.com/photos/189296/pexels-photo-189296.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"  style="padding: 20px;">
      <img src="https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" style="padding: 20px;" >
</body>


