<!-- <h3>Veg Items</h3>  <br><br> 
    <h3>Paneer</h3>
    <br><br>
    <h3>Non Veg <br> <br>
        <label > The Non veg items Are <br><br>
            <label> Chicken Items <br><br>
        <img src="https://static.toiimg.com/thumb/54673639.cms?imgsize=497063&width=800&height=800" height="250px" width="250px" style="padding: 30px;" >
    
        <img src="https://assets.epicurious.com/photos/5732526f1877f76a0e20831c/master/pass/EP_05102016_PeruvianStyleRoastChicken_recipe_.jpg" height="250px" width="250px" style="padding: 30px;"></label></label>
    </h3><br><br>
    <h3>Deserts</h3><br><br> -->

    <img src="https://img4.nbstatic.in/tr:w-700/5c42fb57dc0e82000dd16fe2.jpg" height="500px" width="500px" style="padding: 30px;" >
    <img src="http://websites.inresto.com/creamstone/images/menu-1.jpg"  height="500px" width="500px" style="padding: 30px;">