
<h3>Welcome To Online Hotel Management</h3><br><br>

<marquee  behavior="slide" direction="left" style="color: aliceblue;">Here you can Manage All the Services.</marquee>


<p>This is the Main page of the Owner Login </p><br><br>


<p>Here  can Manage Staff Details </p>
<a routerLink="/managestaff" routerLinkActive="active">ManageStaff</a><br><br><br>

<p>Here You Can Manage The Important Details of Paymentfor Employees</p>
<a routerLink="/payment" routerLinkActive="active">ManagePayment</a><br><br><br>

<p>Here You Can Manage the Room Details</p>
<a routerLink="/manageroom" routerLinkActive="active">ManageRoom</a><br><br><br>


<p>Here You Can Manage The Details pf the Inventory</p>
<a routerLink="/manageinventory" routerLinkActive="active">ManageInventory</a><br>
